// elementos-colores
$element-color-principal: #498C74;
$element-color-secondary: #012619;
$element-color-third: #13523b;
// letras-colores
$font-color-principal: #9AD9C2;
$font-color-secondary: #014029;
// luces
$ilumination-color: #D9D9D9;
