@media only screen and (max-width: 1300px) {
    .barra-de-navegacion-logo {
        display: none;

    }

    .barra-de-navegacion-nombre{
        margin-left: 0;
        left: 3vw;
    }

    .presentacion-1 {
        width: 100%;
    }

    .presentacion-2 {
        margin-left: 0;
    }

    .presentacion-2-text {
        width: 55%;

    }

}

@media only screen and (max-width: 1080px) {
    .presentacion {

        &-1 {
            height: 30rem;
        }

        &-1-img {
            width: 25rem;
        }

        &-1-text {
            line-height: 100%;
        }

        &-2-img {
            width: 25rem;
        }

        &-2-text {
            left: 10px;
            line-height: 100%;
        }

        &-3-img {
            width: 25rem;
        }

        &-3-text {
            line-height: 100%;
        }
    }

    main {
        margin-top: 20vh;
    }

    .principal-img-img {
        width: 80vw;
    }
}

@media only screen and ( max-width: 950px) {
    .principal-img-img {
        width: 90vw;
    }

    .barra-de-navegacion-panel {
        justify-content: end;
        right: 5px;

        &-item4:hover {
            left: 0px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .presentacion {

        &-1 {
            height: 25rem;
            @include center-flex;
        }

        &-1-text {
            margin-inline: 20px;
        }

        &-1-img {
            display: none;
        }

        &-2-text {
            position:static;
            width: 100%;
            margin-inline: 20px;
        }

        &-2-img {
            display: none;
        }

        &-3-text {
            width: 100%;
            margin-inline: 20px;
        }

        &-3-img {
            display: none;
        }

    }
}

@media only screen and ( max-width: 750px) {
    .flecha {
        display: block;
    }



    .barra-de-navegacion-logo {
        display: block;
    }

    .barra-de-navegacion-nombre {
        left: 130px;
    }

    .barra-de-navegacion-panel {
        right: -640px;
        width: 675px;
        border-radius: 30px;
        background: $element-color-third;
        padding-right: 27px;
        animation: salida 2.5s;
        animation-delay: 0.5s;
        border-left: solid $element-color-secondary;
        transition: 1s;

        &:hover{
            right: -25px;
        }
    }

    @keyframes salida {
        0% {
            width: 675px;
        }

        25% {
            width: 690px;
        }

        50% {
            width: 675px;
        }

        75% {
            width: 690px;
        }


    }
}

@media only screen and (max-width: 700px) {
    .principal-img {
        &-text {
            width: 500px;
        }


    }
}

@media only screen and ( max-width: 650px) {
    .principal-img {

        &-img {
            width: 100vw;
        }
    }
    .presentacion {

        &-1-text {
            line-height: 1.5rem;
            font-size: 1.7rem;
        }

        &-2-text {
            line-height: 1.5rem;
            font-size: 1.7rem;
        }

        &-3-text {
            line-height: 1.5rem;
            font-size: 1.7rem;
        }
    }

    .barra-de-navegacion-panel {
        right: -580px;
        width: 620px;
    }

    @keyframes salida {
        0% {
            width: 620px;
        }

        25% {
            width: 630px;
        }

        50% {
            width: 620px;
        }

        75% {
            width: 630px;
        }


    }

    .barra-de-navegacion-panel-item1 {
        margin-inline: 5px;
    }

    @keyframes pagina-actual {
        60% {
            transform: scale(1);
        }
    }
}

@media only screen and (max-width: 600px) {
    .barra-de-navegacion-panel-itemactive {
        display: none;
    }

    .barra-de-navegacion-panel {
        width: 480px;
        right: -440px;
    }

    @keyframes salida {
        0% {
            width: 480px;
        }

        25% {
            width: 490px;
        }

        50% {
            width: 480px;
        }

        75% {
            width: 490px;
        }
    }
}

@media only screen and (max-width: 500px) {

    .principal {
        height: 30rem;
    }

    .principal-img{
        &-text {
            font-size: 3.5rem;
            width: 400px;
        }
    }

    @keyframes pagina-actual {
        0% {
            transform: scale(1);
        }

        60% {
            transform: scale(1);
        }
    }

}

@media only screen and (max-width: 460px) {
    .barra-de-navegacion-panel-item1 {
        font-size: 1rem;
        width: 6rem;
    }

    .barra-de-navegacion-panel-item4 {
        font-size: 1rem;
        width: 6rem;
    }

    .barra-de-navegacion-panel {
        right: -360px;
        width: 400px;
    }

    @keyframes salida {
        0% {
            width: 400px;
        }

        25% {
            width: 410px;
        }

        50% {
            width: 400px;
        }

        75% {
            width: 410px;
        }
    }

    .presentacion {
        &-1-text {
            font-size: 1.3rem;
        }

        &-2-text {
            font-size: 1.3rem;
        }

        &-3-text {
            font-size: 1.3rem;
        }
    }

    .barra-de-navegacion-panel-item4:hover {

        .barra-de-navegacion-panel-item4-ventana {
            width: 300px;
        }
    }

    .fa-brands {
        padding-inline: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .barra-de-navegacion-logo {
        height: 70%;
    }

    .barra-de-navegacion-nombre {
        font-size: 1.7rem;
    left: 95px;
    }

    .principal-img-text {
        font-size: 2.5rem;
        width: 300px;
        height: 80px;
    }
}



